composer.phar
auth.json
phpunit.xml
phpunit.php
.phpunit.result.cache
.env
error_log
phinx.yml
.maintenance_mode
maintenance_mode
.development_mode
development_mode
phpinfo.php
vendor/
nbproject/
resources/
config/creds/
tests/mycoverage/
bin/